<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Le lessv -->

    <link href="static/less/style.less" rel="stylesheet/less">
    <script src="static/js/libs/less.js"></script>

    <!--
    <link href="static/css/style.css" rel="stylesheet">
    -->

    <title></title>
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>

<body>
{% block header%}

{% endblock%}


{% block content%}
{% endblock%}



{% block footer%}

{% endblock%}

<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="static/js/libs/jquery.min.js"></script>
<script src="static/js/libs/placeholder.js"></script>
<script type="text/javascript" src="static/js/script.js"></script>


<!--[if lt IE 7 ]>
<script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
<script>window.attachEvent('onload', function () {
    CFInstall.check({mode:'overlay'})
})</script>
<![endif]-->

</body>
</html>